/* box-sizing, font choices, background color, and 0 margin for body and h1  */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #eaece5;
}

h1,
h2 {
  margin: 0;
  padding-bottom: 10px;
}

/* Navigation bar and footer */

header,
footer {
  background-color: #3b3a30;
}

header {
  margin-bottom: 40px;
}

footer {
  width: 100%;
}

footer p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

h1,
header nav ul li a,
footer p {
  color: #fff;
}

h2 {
  padding-top: 20px;
}
header nav ul li {
  list-style-type: none;
}

header nav ul li a,
.repo-link,
.contact-link,
.live-link {
  text-decoration: none;
}

header nav ul li a {
  margin-right: 20px;
}

/* Accounting for the last anchor */
header nav ul li:last-child a {
  margin-right: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0;
}

.darker-bg {
  background-color: #b2c2bf;
}

.green-bg {
  background-color: #c0ded9;
}

/* image settings */

main img {
  width: 100%;
}

.rounded {
  border-radius: 30px;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.screenshot {
  max-height: 412px;
}

/* So that there is a "break point" after each label */
form label {
  display: block;
}

/* Stretching inputs to the width of the container */
form input,
form textarea {
  margin-top: 4px;
  width: 100%;
}

section {
  margin-bottom: 50px;
}

/* Other anchor tags */

.repo-link,
.contact-link,
.live-link {
  color: #484f4f;
}

.repo-link:hover,
.contact-link:hover,
.live-link:hover {
  color: red;
}

@media all and (min-width: 600px) {
  /* Navigation bar on desktop screen */

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  /* Groups and items in desktop screens  */
  .group {
    flex-direction: row;
  }
}
